
// Hover color for each experience item
// @type Color
$experience-item-bg-color: $light-gray !default;

// Number of columns for each experience item
// @type Number
$experience-columns: 4 !default;

.experience {

  &__item {
    @include flex-grid-column;
    border-radius: $global-radius;
    padding-top: padding();
    text-align: center;
    @include transition();

    @include breakpoint(medium) {
      @include flex-grid-size($experience-columns);
    };

    &:hover {
      background-color: $experience-item-bg-color;
    }

    > * {
      margin-bottom: margin();
    }
  }

}
