<blockquote class="testimonial">
  <p class="testimonial__quote">"{{{quote}}}"</p>
  <cite class="testimonial__cite">
    <img class="testimonial__thumbnail" src="{{thumbnail}}" alt="{{cite}}">
    {{cite}}
  </cite>
</blockquote>
