<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}} | {{site.headline}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@adamcole" />
    <meta name="twitter:creator" content="@adamcole" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:title" content="{{site.headline}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:url" content="http://adamcolejenkins.com">
    <meta property="og:image" content="{{gravatar resume.contact.email 400}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/apple-touch-icon.png?v=E6bew6lxgb">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicon-32x32.png?v=E6bew6lxgb">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicon-16x16.png?v=E6bew6lxgb">
    <link rel="manifest" href="{{root}}assets/img/manifest.json?v=E6bew6lxgb">
    <link rel="mask-icon" href="{{root}}assets/img/safari-pinned-tab.svg?v=E6bew6lxgb" color="#db8c6e">
    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico?v=E6bew6lxgb">
    <meta name="msapplication-config" content="{{root}}assets/img/browserconfig.xml?v=E6bew6lxgb">
    <meta name="theme-color" content="#ffffff">

    <script src="//use.fontawesome.com/d6433e3492.js"></script>
    <script src="//raw.githubusercontent.com/adobe-webplatform/Snap.svg/master/dist/snap.svg-min.js"></script>
  </head>
  <body data-app>

    <section class="content" id="content" role="main">
      {{> body}}
    </section>

    <footer class="footer section" role="contentinfo">
      {{> footer}}
    </footer>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
