<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}} | {{site.headline}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://use.fontawesome.com/d6433e3492.js"></script>
  </head>
  <body data-app>

    <header class="header" role="banner">
      {{> header}}
    </header>

    <section class="content" id="content" role="main">
      {{> body}}
    </section>

    <footer class="footer section" role="contentinfo">
      {{> footer}}
    </footer>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
